DEBUG=True
SECRET_KEY=django-insecure-github-finder-ultra-secret-key-change-in-production-2026
ALLOWED_HOSTS=*
GITHUB_TOKEN=your_github_token_here
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here
DEFAULT_FROM_EMAIL=your_email@gmail.com
